[submodule "AntiSpoof"]
	path = AntiSpoof
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/AntiSpoof
	branch = REL1_43
[submodule "BulkBlock"]
	path = BulkBlock
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/BulkBlock
	branch = REL1_43
[submodule "Capiunto"]
	path = Capiunto
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Capiunto
	branch = REL1_43
[submodule "CodeMirror"]
	path = CodeMirror
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CodeMirror
	branch = REL1_43
[submodule "ContributionScores"]
	path = ContributionScores
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ContributionScores
	branch = REL1_43
[submodule "Description2"]
	path = Description2
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Description2
	branch = REL1_43
[submodule "Drafts"]
	path = Drafts
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Drafts
	branch = REL1_43
[submodule "Editcount"]
	path = Editcount
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Editcount
	branch = REL1_43
[submodule "Favorites"]
	path = Favorites
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Favorites
	branch = REL1_43
[submodule "FilterSpecialPages"]
	path = FilterSpecialPages
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/FilterSpecialPages
	branch = REL1_43
[submodule "LastModified"]
	path = LastModified
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/LastModified
	branch = REL1_43
[submodule "OpenIDConnect"]
	path = OpenIDConnect
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/OpenIDConnect
	branch = REL1_43
[submodule "PluggableAuth"]
	path = PluggableAuth
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/PluggableAuth
	branch = REL1_43
[submodule "SiteMetrics"]
	path = SiteMetrics
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SiteMetrics
	branch = REL1_43
[submodule "TemplateSandbox"]
	path = TemplateSandbox
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TemplateSandbox
	branch = REL1_43
[submodule "UserMerge"]
	path = UserMerge
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/UserMerge
	branch = REL1_43
[submodule "WebAuthn"]
	path = WebAuthn
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WebAuthn
	branch = REL1_43
[submodule "CheckUser"]
	path = CheckUser
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CheckUser
	branch = REL1_43
[submodule "extensions/ApprovedRevs"]
	path = extensions/ApprovedRevs
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ApprovedRevs
	branch = REL1_43
[submodule "extensions/OAuth"]
	path = extensions/OAuth
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/OAuth
	branch = REL1_43
[submodule "extensions/DynamicPageList3"]
	path = extensions/DynamicPageList3
	url = https://github.com/Universal-Omega/DynamicPageList3
	branch = REL1_43
[submodule "extensions/ConsoleOutput"]
	path = extensions/ConsoleOutput
	url = https://github.com/BreezyOps/MediaWiki-ConsoleOutput
[submodule "extensions/Discord"]
	path = extensions/Discord
	url = https://github.com/jayktaylor/mw-discord
[submodule "extensions/TopLink"]
	path = extensions/TopLink
	url = https://github.com/mywikis/TopLink
[submodule "skins/Citizen"]
	path = skins/Citizen
	url = https://github.com/StarCitizenTools/mediawiki-skins-Citizen.git
